body{
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
}

#container-global{
    align-items:center;
    text-align:center;
}

#logo{
   margin-left:auto;
   margin-right:auto;
   display:block;
   margin-bottom: 50px;
   padding-right: 10px;
}

a{ 
    outline: 0;
    text-decoration: none;
    color:black;

}

a:hover{
    color: rgb(250, 0, 0);
}

#footer{
    font-weight: bold;
}